@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Yeseva One'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-font {
  font-family: 'Yeseva One', sans-serif;
}

.custom-font-size title {
  font-size: 100px; /* Change this value to whatever size you need */
}

.backgroundimage {
  width: 1000px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Optional margin for spacing */
}
